<!DOCTYPE html>
<html lang="en" ng-app="gpApp">
<head>
    <meta charset="UTF-8">
    <title>TSAC GP ES01</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="assets/css/main.css" />
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
</head>
<body ng-controller="homeController">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
                <span>TSAC GP ES01</span>
            </h3>
            <span flex></span>
        </div>
    </md-toolbar>
    <!--<table ng-hide="loading">
        <thead>
            <tr>
                <th>Via</th>
                <th>Civico</th>
                <th>CodiceVia</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in json | limitTo: 1000">
                <td>{{data.Ubicazione}}</td>
                <td>{{data.Civico}}</td>
                <td>{{data.CodiceVia}}</td>
            </tr>
        </tbody>
    </table>-->

    <md-card ng-hide="loading">
        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column><span>Via</span></th>
                    <th md-column><span>Civico</span></th>
                    <th md-column><span>Avvio attività</span></th>
                    <th md-column><span>Durata attività</span></th>
                    <th md-column><span>Descrizione merce</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="data in json | limitTo: 1000">
                    <td md-cell>{{data.Ubicazione}}</td>
                    <td md-cell>{{data.Civico}}</td>
                    <td md-cell>{{data.Data_avvio_primo_Proc}}</td>
                    <td md-cell>{{data.durata_attivita_tipo}}</td>
                    <td md-cell>{{data.des_merceologica_p}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
</body>
</html>